.App {
  height:20px;

  margin: 0 auto;
  padding:150px;
  width: 350px;
}
body{
  background-image: url("https://okcredit-blog-images-prod.storage.googleapis.com/2020/12/food-delivery-3.jpg");
  background-size:1950px 1000px;
  background-repeat: no-repeat;

}
#center
{
  float:right;
}
